@use "sass-files/variables";

@mixin borders($borders: 10px) {
  border: {
    width: $borders;
    style: solid;
    color: black;
  }
}

@mixin shadows($shadows: 4px rgba(0, 0, 0, 0.4)) {
  text-shadow: 2px 2px $shadows;
}

body {
  font-family: variables.$font-slab;
  font-size: 1.2rem;
}

header {
  @include borders;
  background-color: variables.$color-1;
  h1 {
    @include shadows;
    color: white;
    font-size: 3rem;
    font-family: variables.$font-weird;
    margin-left: 20px;
  }
  nav {
    @include borders($borders: 5px);

    background-color: variables.$color-2;
    padding: variables.$padding1;
    a {
      color: white;
      text-decoration: none;
      margin: variables.$padding1;
    }
    a:hover {
      @include shadows;

      transition: 0.5s;
    }
  }
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  aside {
    @include borders($borders: 5px);
    @include shadows;
    flex-direction: row;
    width: 20%;

    background-color: variables.$color-3;
    padding: variables.$padding2;
  }
  section {
    @include borders($borders: 25px);
    width: 80%;

    background-color: mix(white, variables.$color-3);
    padding: variables.$padding2;
  }
  div {
    // border: 1px dotted mix(white, variables.$color-1);
    margin: 10px;
    padding: variables.$padding1;
  }
}

footer {
  background-color: variables.$color-1;
  p {
    margin: 0px;
    padding: variables.$padding1;
    color: white;
  }
}

%message-shared {
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  font-size: 0.9rem;
  font-family: variables.$font-mono;
}

.message {
  @extend %message-shared;
  border-width: 0px;
}

.success {
  @extend %message-shared;
  border-color: green;
  color: green;
}

.error {
  @extend %message-shared;
  border-color: red;
  color: red;
}

.warning {
  @extend %message-shared;
  border-color: goldenrod;
  color: goldenrod;
}
