@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Palette+Mosaic&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

//variables
$font-mono: "M PLUS 1", "Courier New", Courier, monospace;
$font-weird: "Palette Mosaic", Arial, Helvetica, sans-serif;
$font-slab: "Zilla Slab", Courier, monospace;
$color-1: #2c278e;
$color-2: #208a87;
$color-3: #ffebeb;
$padding1: 10px;
$padding2: 25px;
